@model List<Questions>
@{
    ViewData["Title"] = "ViewQuestions";
}

<h1>Questions</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Details</th>
            <th>Who Asked</th>
            <th>When</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Questions quest in Model)
        {
        <tr>
            <td>@quest.qid</td>
            <td>@quest.title</td>
            <td>@quest.detail</td>
            <td>@quest.username</td>
            <td>@quest.posted</td>
            <td><a asp-action="ViewQuestion" asp-route-questid="@quest.qid">View Question</a></td>
        </tr>

        }




    </tbody>
    


</table>

